        /* ------------------------------------------------------
        Stylesheet Guide
        ------------------------------------------------------
        
        This Stylesheet is broken up by sections:
            
            Fonts: Containing imports for various font styles and font faces used for the website 
            Element Stylings: CSS stylings of elements within the pages
            Attribute Selector stylings: CSS stylings of attributes within the pages
            Class Stylings: CSS stylings for various classes used within the pages
            ID Stylings: CSS stylings for ID's within the pages

        Each of these sections is indicated by a comment at the start of it and the sections are presented in the order above from top to bottom.

        Each section individually is sorted in alphabetical order.

        ------------------------------------------------------ */

        /*Fonts*/
        @import url('https://fonts.googleapis.com/css2?family=Long+Cang&family=Berkshire+Swash&display=swap');
        @import url('https://fonts.googleapis.com/css?family=Montserrat');
        @font-face {
            font-family: "Open Sans";
            font-weight: normal;
            font-style: normal;
            src: url("../fonts/Open-Sans/OpenSans-Regular.eot");
            src: url("../fonts/Open-Sans/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans/OpenSans-Regular.woff") format("woff"), url("../fonts/Open-Sans/OpenSans-Regular.ttf") format("truetype");
        }
        
        /*Element Stylings */
        body {
            font-family:  'Long Cang', sans-serif;
            font-size: 90%;
            color: #666;
            background-color: #016a86;
        }

        div#foodPics p > img {
            border-radius: 20%;
            padding-left: 5px;
        }

        div#stir-fry img, div#bolognese img {
            padding:10px;
        }
        
        fieldset {
            width: 310px;
            margin-top: 20px;
            border: 1px solid #d6d6d6;
            background-color: #ffffff;
            line-height: 1.6em;
        }

        form {
            background-color:#BEB594;
        }

        h1.center-text
        {
            font-family: 'Berkshire Swash', serif;
            font-size: 550%;
        }
        
        legend {
            font-style: italic;
            color: #666666;
        }

        li {
            list-style-image: url("images/icon-plus.png");
            line-height: 1.6em;
        }

        table {
            border-spacing: 0px;
        }

        table#activities {
            background-color:#FFFDD0 ;
        }

            
        th, td {
            padding: 5px 30px 5px 10px;
            border-spacing: 0px;
            font-size: 90%;
            margin: 0px;
            text-align: left;
            background-color: #e0e9f0;
            border-top: 1px solid #f1f8fe;
            border-bottom: 1px solid #cbd2d8;
            border-right: 1px solid #cbd2d8;
        }
        
        td {
            text-shadow: 1px 1px 1px #ffffff;
        }
        
        tr.head th {
            color: #fff;
            background-color: #90b4d6;
            border-bottom: 2px solid #547ca0;
            border-right: 1px solid #749abe;
            border-top: 1px solid #90b4d6;
            text-align: center;
            text-shadow: -1px -1px 1px #666666;
            letter-spacing: 0.15em;
        }

        tr.head th:first-child {
            /* WebKit is a browser engine used in Apple's Safari browser, Amazon 
            Kindle e-book reader, BlackBerry Browser in OS 6 and above.

            Not all CSS3 properties work well in all browsers. In a way to ensure that web pages display as expected in their browsers, vendors like Mozilla and Webkit developed their own browser-compatible properties. With CSS3, many compatibility issues are now resolved.
            However, it is not unusual to still see these properties used in stylesheets. */

            /* Webkit property*/
            -webkit-border-top-left-radius: 5px;

            /* Mozilla property*/
            -moz-border-radius-topleft: 5px;

            /* CSS3 property*/
            border-top-left-radius: 5px;

            /* More on border-radius property: https://www.the-art-of-web.com/css/border-radius/ */
        }
        
        tr.head th:last-child {
            -webkit-border-top-right-radius: 5px;
            -moz-border-radius-topright: 5px;
            border-top-right-radius: 5px;
        }
        
        tr.even td, tr.even th {
            background-color: #e8eff5;
        }


        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
         }
    
        ul li {
            display: inline;
            padding: 10px;
            float: right;
        }

        ul li a, 
        ul a :hover, 
        ul li a:focus, 
        ul li a:active {
        border: none;
        text-decoration: none;
        color: inherit;
        }
        
        video {
            width: 940px;
        }
        

        /*Attribute Selector Stylings*/
        input[type="submit"] {
            border: 1px solid #006633;
            background-color: #009966;
            color: #ffffff;
            border-radius: 5px;
            padding: 5px;
            margin-top: 10px;
        }
        
        input[type="submit"]:hover {
            border: 1px solid #006633;
            background-color: #00CC33;
            color: #ffffff;
            cursor: pointer;
        }

        input[type="text"] {
                width: 120px;
                border: 1px solid #d6d6d6;
                padding: 2px;
                outline: none;
        }
            
        input[type="text"]:focus,
        input[type="text"]:hover {
                background-color: #d0e2f0;
                border: 1px solid #999999;
        }   
    
        

        /*Class Stylings*/
        .center-2 {
            width: 940px;
            margin: auto;
            padding-bottom: 15px;
            padding-top: 5px;
            }

        .center-2>h1, .center-2>p { 
                text-align: center;
        }
            
        .center-3 {
            width: 300px;
            margin: 0 0;
            }

        .center-image {
                display: inline-block;
        }
        
        .center-mid-1 {
            width: 940px;
            background-color: #BEB594;
            padding-bottom: 15px;
            padding-top: 5px;
        }
        
        .center-mid-2 {
            width: 940px;
            background-color: #efeae6;
            padding-bottom: 15px;
            padding-top: 5px;
            }

        .center-mid-3 {
            width: 940px;
            background-color: #dee1e5;
            padding-bottom: 15px;
            padding-top: 5px;
            }
        
        .center-text {
                text-align: center;
        }

        .column {
            float: left;
            width: 50%;
        }

        .img-1 {
            margin: auto;
            width: 100%;
        }
        .img-2 {
            margin: auto;
            width: 30%;
        }

        .leftpad {
            padding-left: 5px;
        }

        
        }.menu-holder {
            float: right;
            max-width: 80%;
            position: fixed;
            text-align: center;
            height: 100%;
            background-color: #ffffff;
            right: -100%;
            top: 0;
            transition: right .3s ease;
            width: 100%;
            overflow: auto;
            max-width: 100%;
            z-index: 99;
        } 
        
        .maxWid {
            max-width: 400px;
        }

        .mont {
            font-family:'Montserrat', sans-serif;
        }

        .twocol:after {
            content: "";
            display: table;
            clear: both;
        }

        .smlogo {
            height: 21.3px;
            width: 17px;
            margin: auto;
        }

        .submit {
            width: 310px;
            text-align: right;
        }

        .text-right {
            text-align: right;
        }


        .title {
            float: left;
            width: 160px;
            clear: left;
        }
        
        /*ID Stylings*/
        #page {
                max-width: 940px;
                min-width: 720px;
                margin: 10px auto 10px auto;
                border: 4px  #000;
                background-color: #f6f4e8;
                vertical-align: baseline;
        }


        

        

        
        

        

        